{% extends 'basic.html' %}
{% block title%} Cart{% endblock %}

{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Step 1 -  Review Your Cart Items</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>

            <nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is <b>Rs. <span id="totalPrice"></span></b>. Enter your details below & place your order. Thanks for using My Awesome Cart!</li>
  </ol>
</nav>



            
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateTotalPrice();
}
console.log(cart);
var sum = 0;
var totalPrice = 0;
function cartTable(){
if ($.isEmptyObject(cart)) {
    //if object is empty
    mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
    $('#items').append(mystr);
} else {
    for (item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        let itemPrice = cart[item][2];
        let img = cart[item][3];
        sum = sum + qty;
        totalPrice = totalPrice + qty* itemPrice;
        let minusid = "\""+"minus"+item + "\"";
        let plusid = "\""+"plus"+item + "\"";
        let deleteid = item;

        pmbuttons = "<button onclick='minus("+minusid +")' id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button onclick='plus("+plusid+")' id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
       
                    <img src="${img}" class="rounded" alt="..." width="50" height="50">
                    <span>Rs:${itemPrice}</span>
                    ${name}
                    ${pmbuttons}
                    <button id="delete${item}" onclick="deleteFromCart('${deleteid}')" >Delete</button:id>
                </li>`
        $('#items').append(mystr);
    }
}
}
cartTable();
updateTotalPrice();

// If plus or minus button is clicked, change the cart as well as the display value
function minus(id) {
    a = id.slice(7, );
    if (cart['pr' + a][0] != 1)
    {
cart['pr' + a][0] = cart['pr' + a][0] - 1;
    }
    
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    if (cart['pr' + a][0] == 1){
        document.getElementById('divpr' + a).innerHTML = '<button id="pr'+a+'" class="btn btn-primary cart">Add to Cart</button>';
        
      document.getElementById('valpr' + a).innerHTML = 1;
       document.getElementById('valpr' + a).value = 1;
    }
    else{
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
         document.getElementById('valpr' + a).value = cart['pr' + a][0];
    }
    updateCart(cart);
    updateTotalPrice();
    
}
 function plus(id) {
    a = id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
     document.getElementById('valpr' + a).value = cart['pr' + a][0];
    updateCart(cart);
    updateTotalPrice();
   
}
function updateTotalPrice()
{
    var st_return_value = calculateTotalPrice();

    document.getElementById('cart').innerHTML = st_return_value[1];
document.getElementById('totalPrice').innerHTML = st_return_value[0];
$('#itemsJson').val(JSON.stringify(cart));
$('#amount').val($('#totalPrice').html());
}
function deleteFromCart(did)
{
    console.log("delete "+ did);
    delete cart[did];
    updateCart(cart);
    updateTotalPrice();
    location.reload();
}
function calculateTotalPrice()
{
    var st = [0, 0]
        sum=0;
        totalPrice=0;
        for (item in cart) {
        let qty = cart[item][0];
        let itemPrice = cart[item][2];
        sum = sum + qty;
        totalPrice = totalPrice + qty* itemPrice;
    }
    st[0]=totalPrice;
    st[1]=sum;
    return st;
}

function valueChange()
{
    var value = document.getElementById('')
}
</script>
{% endblock %}
